#osztaly{
    text-align: center;
    color: white;
    position: absolute;
<<<<<<< HEAD
    right: 1%;
    top: 15px;
=======
    left: 45%;
>>>>>>> 5ca8e12d68307c8f8f450e391450f37f192cf001
}
header{
    background-color: #267DFF;
    color: white;
    font-size: 200%;
    height: 70px;
}
#fooldal{
    position: absolute;
    text-decoration: none;
    color: white;
    margin-left: 10px;
    top: 15px;
}
#fooldal:active{
    color: white;
}
#evszam{
    position: absolute;
    left: 47%;
    top: 15px;
}