#osztaly{
    text-align: center;
    color: white;
    position: absolute;
    right: 1%;
    top: 15px;
}
header{
    background-color: #267DFF;
    color: white;
    font-size: 200%;
    height: 70px;
    display: flex;
    align-items: center;
}
#fooldal{ 
    text-decoration: none;
    color: white;
    margin-left: 10px;
    top: 15px;
}
#fooldal:active{
    color: white;
}
#fejlec{
    position: fixed;
    width: 100%;
    z-index: 100;
}
#evszam{
    position: absolute;
    left: 45%;
}
#aloldal{
    margin-inline: 10px;
}