#kep{
    width: 30%;
    position: absolute;
    right: 5%;
    top: 40%;
    animation: kep 3s ease-in-out;
}
@keyframes kep{
    0% {right: -40%;}
    100% {right: 5%;}
}
body, html{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
#tantargyNev{
    background-color: #1AB3FF;
    margin: 2%;
    border-radius: 15px;
    padding: 5px;
    text-align: center;
}
#tanar{
    background-color: #569FFF;
    width: 60.5%;
    margin-left: 2%;
    padding: 10px;
    border-radius: 15px;
    color: white;
    text-align: center;
}
#tartalom{
    background-color: #D9D9D9;
    margin: 2%;
    padding: 15px;
    border-radius: 15px;
    width: 60%;
}
body {
    background-image: url("../img/orabg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
}